{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-warning text-white">
                    <h1 class="h4 mb-0">{% trans "Account Inactive" %}</h1>
                </div>
                <div class="card-body">
                    <p>{% trans "This account is inactive." %}</p>
                    <p>{% trans "If you believe this is an error, please contact support." %}</p>
                    <hr>
                    <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans "Go to Login" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 